JankyUI/Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Schema"
    targetNamespace="janky://Schema/v1"
    xmlns:jank="janky://Schema/v1"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified"
    version="1.0"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Enums -->
  <xs:simpleType name="Enum-ButtonType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="normal" />
      <xs:enumeration value="repeat" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Enum-TextboxType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="simple" />
      <xs:enumeration value="multiline" />
      <xs:enumeration value="password" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Enum-GroupType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="horizontal" />
      <xs:enumeration value="vertical" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Enum-ScrollbarType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="horizontal" />
      <xs:enumeration value="vertical" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Enum-StretchType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none" />
      <xs:enumeration value="vertical" />
      <xs:enumeration value="horizontal" />
      <xs:enumeration value="both" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Identifier Types -->

  <xs:simpleType name="Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z_][a-zA-Z0-9_]*"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Resource">
    <xs:restriction base="xs:string">
      <xs:pattern value="#[a-zA-Z_][a-zA-Z0-9_]*"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Binding">
    <xs:restriction base="xs:string">
      <xs:pattern value="@[a-zA-Z_][a-zA-Z0-9_]*"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <!-- Custom String Type (## and @@) -->

  <xs:simpleType name="String">
    <xs:restriction base="xs:string">
      <xs:pattern value="([^@#]|##|@@).*" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ResourceURI">
    <xs:restriction base="xs:string">
      <xs:pattern value="res:///([^;]*);([^;]*)" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Char">
    <xs:restriction base="xs:string">
      <xs:pattern value="([^@#]|@@|##|.)" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Common Attribute Types -->

  <xs:simpleType name="Attr-Method" >
    <xs:annotation>
      <xs:documentation>
        A Referenced Method - Only Supports @Binding notation.
      </xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="jank:Binding" />
  </xs:simpleType>

  <!-- Object -->

  <xs:simpleType name="Attr-Texture" >
    <xs:annotation>
      <xs:documentation>
        A Texture Value - Supports #Resource and @Binding notations.
        Textures, if specified inline or as as String Resource, but be in the following format:
        res:///Embedded.Resource.Name;SourceAssemblyName
      </xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="jank:ResourceURI jank:Resource jank:Binding" />
  </xs:simpleType>

  <!-- Char -->

  <xs:simpleType name="Attr-Char">
    <xs:annotation>
      <xs:documentation>
        A Single Character Value - Supports #Resource and @Binding notations.
      </xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="jank:Char jank:Resource jank:Binding" />
  </xs:simpleType>

  <!-- Text -->

  <xs:simpleType name="Attr-String">
    <xs:annotation>
      <xs:documentation>
        A String Value - Supports #Resource and @Binding notations.
        If a string is to start with @ or # and is not a Resource or Binding, it has to be escaped with either ## or @@
      </xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="jank:String jank:Resource jank:Binding" />
  </xs:simpleType>

  <!-- Integer -->

  <xs:simpleType name="Attr-Integer" >
    <xs:annotation>
      <xs:documentation>
        A Integer Value - Supports #Resource and @Binding notations.
      </xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="xs:integer jank:Resource jank:Binding" />
  </xs:simpleType>

  <!-- Decimal -->

  <xs:simpleType name="Attr-Decimal" >
    <xs:annotation>
      <xs:documentation>
        A Floating Point Value - Supports #Resource and @Binding notations.
      </xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="xs:decimal jank:Resource jank:Binding" />
  </xs:simpleType>

  <!-- Boolean -->

  <xs:simpleType name="Attr-Bool" >
    <xs:annotation>
      <xs:documentation>
        A Boolean Value - Supports #Resource and @Binding notations.
      </xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="xs:boolean jank:Resource jank:Binding" />
  </xs:simpleType>

  <!-- Enums -->
  
  <xs:simpleType name="Attr-EnumStretch">
    <xs:annotation>
      <xs:documentation>
        An Enumeration Value - Supports #Resource and @Binding notations.
        Supported Values: none, horizontal, vertical, both
      </xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="jank:Enum-StretchType jank:Resource jank:Binding" />
  </xs:simpleType>

  <xs:simpleType name="Attr-EnumButton">
    <xs:annotation>
      <xs:documentation>
        An Enumeration Value - Supports #Resource and @Binding notations.
        Supported Values: normal, repeat
      </xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="jank:Enum-ButtonType jank:Resource jank:Binding" />
  </xs:simpleType>

  <xs:simpleType name="Attr-EnumScroll">
    <xs:annotation>
      <xs:documentation>
        An Enumeration Value - Supports #Resource and @Binding notations.
        Supported Values: horizontal, vertical
      </xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="jank:Enum-ScrollbarType jank:Resource jank:Binding" />
  </xs:simpleType>

  <xs:simpleType name="Attr-EnumText">
    <xs:annotation>
      <xs:documentation>
        An Enumeration Value - Supports #Resource and @Binding notations.
        Supported Values: simple, multiline, password
      </xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="jank:Enum-TextboxType jank:Resource jank:Binding" />
  </xs:simpleType>

  <xs:simpleType name="Attr-EnumGroup">
    <xs:annotation>
      <xs:documentation>
        An Enumeration Value - Supports #Resource and @Binding notations.
        Supported Values: horizontal, vertical
      </xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="jank:Enum-GroupType jank:Resource jank:Binding" />
  </xs:simpleType>
  
  <!-- Nodes -->

  <!-- Base Node Types -->
  <xs:element name="Node" abstract="true" />

  <xs:complexType name="SimpleNode" abstract="true">
    <xs:attribute name="data-context" type="jank:Identifier" />
    <xs:attribute name="name" type="jank:Identifier" use="optional" />
  </xs:complexType>

  <xs:complexType name="SimpleNodeWithLayoutOptions" abstract="true">
    <xs:complexContent>
      <xs:extension base="jank:SimpleNode">
        <xs:attribute name="width" type="jank:Attr-Integer" />
        <xs:attribute name="min-width" type="jank:Attr-Integer" />
        <xs:attribute name="max-width" type="jank:Attr-Integer" />

        <xs:attribute name="height" type="jank:Attr-Integer" />
        <xs:attribute name="min-height" type="jank:Attr-Integer" />
        <xs:attribute name="max-height" type="jank:Attr-Integer" />

        <xs:attribute name="stretch" type="jank:Attr-EnumStretch" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ComplexNode" abstract="true">
    <xs:complexContent>
      <xs:extension base="jank:SimpleNode">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="jank:Node" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ComplexNodeWithLayoutOptions" abstract="true">
    <xs:complexContent>
      <xs:extension base="jank:SimpleNodeWithLayoutOptions">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="jank:Node" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Widgets -->

  <xs:element name="Button" substitutionGroup="jank:Node">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="jank:SimpleNodeWithLayoutOptions">
          <xs:attribute name="text" type="jank:Attr-String" />
          <xs:attribute name="image" type="jank:Attr-Texture" />
          <xs:attribute name="on-click" type="jank:Attr-Method" use="required" />
          <xs:attribute name="type" use="optional" type="jank:Attr-EnumButton" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="Label" substitutionGroup="jank:Node">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="jank:SimpleNodeWithLayoutOptions">
          <xs:attribute name="text" type="jank:Attr-String" />
          <xs:attribute name="image" type="jank:Attr-Texture" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="Box" substitutionGroup="jank:Node">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="jank:SimpleNodeWithLayoutOptions">
          <xs:attribute name="text" type="jank:Attr-String" />
          <xs:attribute name="image" type="jank:Attr-Texture" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="ScrollBar" substitutionGroup="jank:Node">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="jank:SimpleNodeWithLayoutOptions">
          <xs:attribute name="size" type="jank:Attr-Decimal" />
          <xs:attribute name="value" type="jank:Attr-Decimal" />
          <xs:attribute name="min-value" type="jank:Attr-Decimal" />
          <xs:attribute name="max-value" type="jank:Attr-Decimal" />
          <xs:attribute name="on-change" type="jank:Attr-Method" />
          <xs:attribute name="type" type="jank:Attr-EnumScroll" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="Select" substitutionGroup="jank:Node">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="jank:SimpleNodeWithLayoutOptions">
          <xs:attribute name="texts" type="jank:Attr-String" use="optional" />
          <xs:attribute name="images" type="jank:Attr-String" use="optional" />
          <xs:attribute name="columns" type="jank:Attr-Integer" />
          <xs:attribute name="selected-index" type="jank:Attr-Integer" />
          <xs:attribute name="on-change" type="jank:Attr-Method" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="Slider" substitutionGroup="jank:Node">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="jank:SimpleNodeWithLayoutOptions">
          <xs:attribute name="items" type="jank:Attr-String" use="required" />
          <xs:attribute name="columns" type="jank:Attr-Integer" />
          <xs:attribute name="selected-index" type="jank:Attr-Integer" />
          <xs:attribute name="on-change" type="jank:Attr-Method" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="Space" substitutionGroup="jank:Node">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="jank:SimpleNodeWithLayoutOptions">
          <xs:attribute name="size" type="jank:Attr-Decimal" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="Textbox" substitutionGroup="jank:Node">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="jank:SimpleNodeWithLayoutOptions">
          <xs:attribute name="text" type="jank:Attr-String" use="required" />
          <xs:attribute name="mask" type="jank:Attr-Char" />
          <xs:attribute name="max-lenght" type="jank:Attr-Integer" />
          <xs:attribute name="on-change" type="jank:Attr-Method" use="optional" />
          <xs:attribute name="type" type="jank:Attr-EnumText" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="Checkbox" substitutionGroup="jank:Node">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="jank:SimpleNodeWithLayoutOptions">
          <xs:attribute name="checked" type="jank:Attr-Bool" />
          <xs:attribute name="text" type="jank:Attr-String" />
          <xs:attribute name="on-change" type="jank:Attr-Method" use="optional" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- Containers -->

  <xs:element name="ScrollView" substitutionGroup="jank:Node">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="jank:ComplexNodeWithLayoutOptions">
          <xs:attribute name="x-offset" type="jank:Attr-Decimal" />
          <xs:attribute name="y-offset" type="jank:Attr-Decimal" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="Group" substitutionGroup="jank:Node">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="jank:ComplexNodeWithLayoutOptions">
          <xs:attribute name="type" use="optional" type="jank:Attr-EnumGroup" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="Area" substitutionGroup="jank:Node">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="jank:ComplexNode">
          <xs:attribute name="width" type="jank:Attr-Decimal" />
          <xs:attribute name="height" type="jank:Attr-Decimal" />
          <xs:attribute name="x" type="jank:Attr-Decimal" />
          <xs:attribute name="y" type="jank:Attr-Decimal" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="Window">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="jank:ComplexNode">
          <xs:attribute name="title" type="jank:Attr-String" />
          <xs:attribute name="on-mouse-over" type="jank:Attr-Method" />

          <xs:attribute name="width" type="jank:Attr-Decimal" />
          <xs:attribute name="height" type="jank:Attr-Decimal" />
          <xs:attribute name="x" type="jank:Attr-Decimal" />
          <xs:attribute name="y" type="jank:Attr-Decimal" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- Janky XML -->

  <xs:element name="Resource">
    <xs:complexType>
      <xs:attribute name="key" type="jank:Identifier" />
      <xs:attribute name="value" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="Resources">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="jank:Resource" />
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="JankyUI">
    <xs:complexType>
      <xs:all>
        <xs:element ref="jank:Resources" minOccurs="0" />
        <xs:element ref="jank:Window" minOccurs="1" />
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
